In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tldextract

Websites with available clean data
- China
- GDPR nations
- India
- Iraq
- Pakistan
- Russia
- Saudi Arabia
- UAE

In [3]:
data_dir = "cleaned_data/"

## Trial Run: China vs. Saudi Arabia

In [6]:
china = pd.read_csv(data_dir + "blocked_urls_china.csv")
china.drop(columns = ["Unnamed: 0"], inplace = True)
china.head()

                  URL
0         www.a00.com
1    a0006.in2000.com
2  a1.sparklancer.com
3     a1234.uhome.net
4   a1234bc.uhome.net

In [7]:
saudi_arabia = pd.read_csv(data_dir + "blocked_urls_sa.csv")
saudi_arabia.drop(columns = ["Unnamed: 0"], inplace = True)
saudi_arabia.head()

                                        URL
0                  www.absoluteswimwear.com
1                            www.adaweb.com
2                    www.adultnewsstand.com
3                  www.adventureangling.com
4  www.adventureangling.com/chd/webring.htm

In [8]:
print(china.shape, saudi_arabia.shape)

(15911, 1) (1380, 1)

In [13]:
tldextract.extract('www.a00.com')

ExtractResult(subdomain='www', domain='a00', suffix='com')

In [18]:
china_domains = list(china['URL'].apply(lambda d: tldextract.extract(d)[1]))
china_domains[:5]

['a00', 'in2000', 'sparklancer', 'uhome', 'uhome']

In [19]:
sa_domains = list(saudi_arabia['URL'].apply(lambda d: tldextract.extract(d)[1]))
sa_domains[:5]

['absoluteswimwear',
 'adaweb',
 'adultnewsstand',
 'adventureangling',
 'adventureangling']

In [21]:
block_china_sa = list(set(china_domains) & set(sa_domains))
print(block_china_sa[:5], len(block_china_sa))

['chinawxp', 'apexsid', 'tlh', 'alpha-tiles', 'deathnews'] 86