In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [2]:
uptrends = "https://www.uptrends.com/tools/uptime"

In [55]:
blocked_gdpr = pd.read_csv("blocked_gdpr.csv")
blocked_gdpr.head()

,Name,Date Unblocked,Website,Archived Block Message[0],Archived Block Message[1],Block Message Screenshot,Website Archives[0],Website Archives[1]
0,5 News KFSM,NaN,https://5newsonline.com,https://archive.fo/Lwl88,NaN,https://data.verifiedjoseph.com/files/gdpr-scr...,https://web.archive.org/web/2/https://5newsonl...,NaN
1,99acres,NaN,https://www.99acres.com,https://archive.fo/24l2Q,NaN,https://data.verifiedjoseph.com/files/gdpr-scr...,https://web.archive.org/web/2/https://www.99ac...,NaN
2,Aberdeen News,NaN,https://www.aberdeennews.com,NaN,NaN,https://data.verifiedjoseph.com/files/gdpr-scr...,NaN,NaN
3,Abington Mariner,NaN,http://abington.wickedlocal.com,NaN,NaN,https://data.verifiedjoseph.com/files/gdpr-scr...,https://web.archive.org/web/2/http://abington....,NaN
4,"Ad Express & Daily Iowegian (Centerville, IA)",NaN,https://www.dailyiowegian.com,NaN,NaN,https://data.verifiedjoseph.com/files/gdpr-scr...,NaN,NaN

In [57]:
blocked_gdpr_sites = list(blocked_gdpr['Website'])
blocked_gdpr_sites[:5]

['https://5newsonline.com',
 'https://www.99acres.com',
 'https://www.aberdeennews.com',
 'http://abington.wickedlocal.com',
 'https://www.dailyiowegian.com']

In [73]:
driver = webdriver.Firefox()
driver.get(uptrends)

driver.implicitly_wait(30) # gives an implicit wait for 20 seconds

website_availabilities = []

reduce_text = lambda x: "Y" if x == "Website is available" else "N"

frame = driver.find_element_by_xpath('//*[@id="ToolsBox"]')
driver.switch_to.frame(frame)
input_box = driver.find_element_by_id("UI_Tools_Url")
submit_button = driver.find_element_by_id("UI_Tools_Submit")

for b in blocked_gdpr_sites[:50]:
    try:
        driver.execute_script("arguments[0].value = '" + b + "';", input_box)
        print(input_box.get_attribute('value'))
        submit_button.click()

        time.sleep(120)

        result = driver.find_elements_by_class_name('httpResultHeaderData')
        website_availabilities.extend([(
            b,
            r.find_element_by_class_name('title').get_attribute('innerHTML'),
            reduce_text(r.find_element_by_class_name('subtitle').get_attribute('innerHTML')))
            for r in result])

        print(len(website_availabilities))

        test_again = driver.find_element_by_xpath('/html/body/div[1]/section/div/div[1]/div/section[2]/div/div[1]/div[1]/div[3]/button[2]')
        test_again.click()

        time.sleep(random.randint(120, 150))
    except:
        continue

driver.close()

https://5newsonline.com
42
https://www.99acres.com
85
https://www.aberdeennews.com
127
http://abington.wickedlocal.com
170
https://www.dailyiowegian.com
213
http://agcanada.com
256
https://agdealer.com
299
http://www.agrinews-pubs.com
342
https://www.agupdate.com
385
http://www.ahwatukee.com
428
https://www.aikenstandard.com
471
http://www.aimmediatexas.com
514
http://www.airthinx.io
557
https://democratherald.com
600
http://albertafarmexpress.ca
643
http://www.aledotimesrecord.com
684
https://www.alicetx.com
726
http://www.alliancetimes.com
767
https://www.alliednews.com
809
http://allston.wickedlocal.com
851
https://www.amny.com
893
https://www.amarillo.com
936
https://www.americanmediainc.com
979
http://americanmilitarynews.com
1022
https://www.americanpress.com
1065
http://www.amestrib.com
1108
https://www.adn.com
1151
https://www.anchoragepress.com
1194
https://www.andovertownsman.com
1237
http://www.apg-wi.com
1280
https://www.apgwest.com
1323
https://www.appeal-democrat.com
1366
https://www.northfulton.com
1409
https://www.argus-press.com
1452
https://tucson.com
1495
https://azdailysun.com
1538
https://www.willcoxrangenews.com
1538
http://arlington.wickedlocal.com
1538
https://www.ashepostandtimes.com
1538
http://www.ashleycountyledger.com
1538
https://www.aspendailynews.com
1538
http://www.atchisonglobenow.com
1538
https://www.onlineathens.com
1538
https://www.athensreview.com
1538
https://www.atlanticcityweekly.com
1538
http://www.auburnjournal.com
1538
http://www.augustagazette.com
1538
http://www.auroraadvertiser.net
1538
https://www.autoweb.com
1538
https://www.averyjournal.com
1538

In [74]:
website_availabilities[:5]

[('https://5newsonline.com', 'Toronto', 'Y'),
 ('https://5newsonline.com', 'London', 'Y'),
 ('https://5newsonline.com', 'Milan', 'Y'),
 ('https://5newsonline.com', 'Frankfurt', 'Y'),
 ('https://5newsonline.com', 'Vancouver', 'Y')]

In [75]:
len(website_availabilities)

1538

In [76]:
df = pd.DataFrame.from_records(website_availabilities)

In [77]:
df.head()

                         0          1  2
0  https://5newsonline.com    Toronto  Y
1  https://5newsonline.com     London  Y
2  https://5newsonline.com      Milan  Y
3  https://5newsonline.com  Frankfurt  Y
4  https://5newsonline.com  Vancouver  Y

In [79]:
df.to_csv("website_availabilities_1.csv")

In [3]:
df = pd.read_csv("website_availabilities_1.csv")
df.head()

   Unnamed: 0                        0          1  2
0           0  https://5newsonline.com    Toronto  Y
1           1  https://5newsonline.com     London  Y
2           2  https://5newsonline.com      Milan  Y
3           3  https://5newsonline.com  Frankfurt  Y
4           4  https://5newsonline.com  Vancouver  Y

In [4]:
df.drop(columns = "Unnamed: 0", inplace = True)
df.head()

                         0          1  2
0  https://5newsonline.com    Toronto  Y
1  https://5newsonline.com     London  Y
2  https://5newsonline.com      Milan  Y
3  https://5newsonline.com  Frankfurt  Y
4  https://5newsonline.com  Vancouver  Y

In [7]:
df.rename(columns = {"0": "Website", "1": "City", "2": "Available"}, inplace = True)
df.head()

                   Website       City Available
0  https://5newsonline.com    Toronto         Y
1  https://5newsonline.com     London         Y
2  https://5newsonline.com      Milan         Y
3  https://5newsonline.com  Frankfurt         Y
4  https://5newsonline.com  Vancouver         Y

In [8]:
df.to_csv("website_availabilities_1.csv")