In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
from statistics import mean
import json

In [2]:
uptrends = "https://www.uptrends.com/tools/uptime"

In [3]:
blocked_gdpr = pd.read_csv("blocked_gdpr.csv")
blocked_gdpr.head()

,Name,Date Unblocked,Website,Archived Block Message[0],Archived Block Message[1],Block Message Screenshot,Website Archives[0],Website Archives[1]
0,5 News KFSM,NaN,https://5newsonline.com,https://archive.fo/Lwl88,NaN,https://data.verifiedjoseph.com/files/gdpr-scr...,https://web.archive.org/web/2/https://5newsonl...,NaN
1,99acres,NaN,https://www.99acres.com,https://archive.fo/24l2Q,NaN,https://data.verifiedjoseph.com/files/gdpr-scr...,https://web.archive.org/web/2/https://www.99ac...,NaN
2,Aberdeen News,NaN,https://www.aberdeennews.com,NaN,NaN,https://data.verifiedjoseph.com/files/gdpr-scr...,NaN,NaN
3,Abington Mariner,NaN,http://abington.wickedlocal.com,NaN,NaN,https://data.verifiedjoseph.com/files/gdpr-scr...,https://web.archive.org/web/2/http://abington....,NaN
4,"Ad Express & Daily Iowegian (Centerville, IA)",NaN,https://www.dailyiowegian.com,NaN,NaN,https://data.verifiedjoseph.com/files/gdpr-scr...,NaN,NaN

In [4]:
blocked_gdpr_sites = list(blocked_gdpr['Website'])
blocked_gdpr_sites[:5]

['https://5newsonline.com',
 'https://www.99acres.com',
 'https://www.aberdeennews.com',
 'http://abington.wickedlocal.com',
 'https://www.dailyiowegian.com']

In [5]:
driver = webdriver.Firefox()
driver.get(uptrends)

driver.implicitly_wait(30) # gives an implicit wait for 20 seconds

website_availabilities = []

reduce_text = lambda x: "Y" if x == "Website is available" else "N"

frame = driver.find_element_by_xpath('//*[@id="ToolsBox"]')
driver.switch_to.frame(frame)
input_box = driver.find_element_by_id("UI_Tools_Url")
submit_button = driver.find_element_by_id("UI_Tools_Submit")

for b in blocked_gdpr_sites[69:90]:
    try:
        driver.execute_script("arguments[0].value = '" + b + "';", input_box)
        print(input_box.get_attribute('value'))
        submit_button.click()

        time.sleep(120)

        result = driver.find_elements_by_class_name('httpResultHeaderData')
        website_availabilities.extend([(
            b,
            r.find_element_by_class_name('title').get_attribute('innerHTML'),
            reduce_text(r.find_element_by_class_name('subtitle').get_attribute('innerHTML')))
            for r in result])

        print(len(website_availabilities))

        test_again = driver.find_element_by_xpath('/html/body/div[1]/section/div/div[1]/div/section[2]/div/div[1]/div[1]/div[3]/button[2]')
        test_again.click()

        time.sleep(random.randint(120, 150))
    except:
        continue

driver.close()

https://www.bgfalconmedia.com

InvalidSessionIdException: Message: Tried to run command without establishing a connection

In [103]:
country_avail['Website'].nunique()

36

In [24]:
website_availabilities[:5]

[('https://www.bakersfield.com', 'New York', 'Y'),
 ('https://www.bakersfield.com', 'Toronto', 'Y'),
 ('https://www.bakersfield.com', 'Tampa', 'Y'),
 ('https://www.bakersfield.com', 'Seattle', 'Y'),
 ('https://www.bakersfield.com', 'Vancouver', 'Y')]

In [25]:
len(website_availabilities)

741

In [26]:
df = pd.DataFrame.from_records(website_availabilities)

In [27]:
df.head()

                             0          1  2
0  https://www.bakersfield.com   New York  Y
1  https://www.bakersfield.com    Toronto  Y
2  https://www.bakersfield.com      Tampa  Y
3  https://www.bakersfield.com    Seattle  Y
4  https://www.bakersfield.com  Vancouver  Y

In [28]:
df.to_csv("website_availabilities_3.csv")

In [3]:
df = pd.read_csv("website_availabilities_1.csv")
df.head()

   Unnamed: 0                  Website       City Available
0           0  https://5newsonline.com    Toronto         Y
1           1  https://5newsonline.com     London         Y
2           2  https://5newsonline.com      Milan         Y
3           3  https://5newsonline.com  Frankfurt         Y
4           4  https://5newsonline.com  Vancouver         Y

In [10]:
df['Website'].nunique()

36

In [4]:
df.drop(columns = "Unnamed: 0", inplace = True)
df.head()

                         0          1  2
0  https://5newsonline.com    Toronto  Y
1  https://5newsonline.com     London  Y
2  https://5newsonline.com      Milan  Y
3  https://5newsonline.com  Frankfurt  Y
4  https://5newsonline.com  Vancouver  Y

In [7]:
df.rename(columns = {"0": "Website", "1": "City", "2": "Available"}, inplace = True)
df.head()

                   Website       City Available
0  https://5newsonline.com    Toronto         Y
1  https://5newsonline.com     London         Y
2  https://5newsonline.com      Milan         Y
3  https://5newsonline.com  Frankfurt         Y
4  https://5newsonline.com  Vancouver         Y

In [8]:
df.to_csv("website_availabilities_1.csv")

In [2]:
num_files = 3
combined_df = None
for i in range(num_files):
    new_df = pd.read_csv("website_availabilities_" + str(i + 1) + ".csv")
    if i == 0:
        combined_df = new_df
    else:
        combined_df = combined_df.append(new_df)

/Users/lilybhattacharjee/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [3]:
combined_df.head()

     0    1    2 Available       City  Unnamed: 0                  Website
0  NaN  NaN  NaN         Y    Toronto           0  https://5newsonline.com
1  NaN  NaN  NaN         Y     London           1  https://5newsonline.com
2  NaN  NaN  NaN         Y      Milan           2  https://5newsonline.com
3  NaN  NaN  NaN         Y  Frankfurt           3  https://5newsonline.com
4  NaN  NaN  NaN         Y  Vancouver           4  https://5newsonline.com

In [5]:
combined_df.drop(columns = ["Unnamed: 0", "0", "1", "2"], inplace = True)
combined_df.head()

  Available       City                  Website
0         Y    Toronto  https://5newsonline.com
1         Y     London  https://5newsonline.com
2         Y      Milan  https://5newsonline.com
3         Y  Frankfurt  https://5newsonline.com
4         Y  Vancouver  https://5newsonline.com

In [6]:
len(combined_df)

2867

In [7]:
cities_to_countries = pd.read_csv("cities_to_countries.csv")
cities_to_countries.head()

        City        Country
0  New Delhi          India
1      Tampa  United States
2  Amsterdam    Netherlands
3  Frankfurt        Germany
4  Edinburgh       Scotland

In [9]:
country_avail = combined_df.merge(right = cities_to_countries, on = 'City', how = 'outer')
country_avail.head()

  Available     City                          Website Country
0         Y  Toronto          https://5newsonline.com  Canada
1         Y  Toronto          https://www.99acres.com  Canada
2         Y  Toronto     https://www.aberdeennews.com  Canada
3         Y  Toronto  http://abington.wickedlocal.com  Canada
4         Y  Toronto    https://www.dailyiowegian.com  Canada

In [11]:
country_avail['Country'].nunique()

26

In [12]:
country_avail.to_csv('combined_country_availabilities.csv')

In [78]:
def calculate_avail_score(country1, country2):
    country1_data = country_avail.loc[country_avail['Country'] == country1]
    country2_data = country_avail.loc[country_avail['Country'] == country2]
    c1_avail, c2_avail, c1_not_avail, c2_not_avail = country1 + '_avail', country2 + '_avail', country1 + '_not_avail', country2 + '_not_avail'
    country1_data[c1_avail], country1_data[c1_not_avail] = np.where(country1_data['Available']=='Y', 1, 0), np.where(country1_data['Available']=='N', 1, 0)
    country2_data[c2_avail], country2_data[c2_not_avail] = np.where(country2_data['Available']=='Y', 1, 0), np.where(country2_data['Available']=='N', 1, 0)
    country1_site_group = country1_data.groupby('Website').agg({c1_avail: 'sum', c1_not_avail: 'sum'})
    country2_site_group = country2_data.groupby('Website').agg({c2_avail: 'sum', c2_not_avail: 'sum'})
    combined_site_group = country1_site_group.merge(right = country2_site_group, on = 'Website', how = 'outer')
    combined_site_group['c1_rate_avail'] = combined_site_group[c1_avail] / (combined_site_group[c1_avail] + combined_site_group[c1_not_avail])
    combined_site_group['c2_rate_avail'] = combined_site_group[c2_avail] / (combined_site_group[c2_avail] + combined_site_group[c2_not_avail])
    combined_site_group['compare_avail'] = 1 - abs(combined_site_group['c1_rate_avail'] - combined_site_group['c2_rate_avail'])
    return combined_site_group['compare_avail'].mean()

In [77]:
calculate_avail_score('India', 'United States')

                                 India_avail  India_not_avail  \
Website
http://abington.wickedlocal.com            1                0
http://agcanada.com                        1                0
http://albertafarmexpress.ca               0                1
http://allston.wickedlocal.com             1                0
http://americanmilitarynews.com            1                0

                                 United States_avail  United States_not_avail  \
Website
http://abington.wickedlocal.com                    6                        0
http://agcanada.com                                6                        0
http://albertafarmexpress.ca                       0                        6
http://allston.wickedlocal.com                     5                        1
http://americanmilitarynews.com                    6                        0

                                 c1_rate_avail  c2_rate_avail  compare_avail
Website
http://abington.wickedlocal.com            1.0       1.000000       1.000000
http://agcanada.com                        1.0       1.000000       1.000000
http://albertafarmexpress.ca               0.0       0.000000       1.000000
http://allston.wickedlocal.com             1.0       0.833333       0.833333
http://americanmilitarynews.com            1.0       1.000000       1.000000

/Users/lilybhattacharjee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/lilybhattacharjee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0.9861111111111112

In [76]:
unique_countries = list(cities_to_countries['Country'].unique())
unique_countries

['India',
 'United States',
 'Netherlands',
 'Germany',
 'Scotland',
 'New Zealand',
 'China',
 'Ireland',
 'Sweden',
 'Belgium',
 'Argentina',
 'Indonesia',
 'Mexico',
 'France',
 'Italy',
 'England',
 'Norway',
 'Japan',
 'South Korea',
 'Israel',
 'Brazil',
 'Austria',
 'Czech Republic',
 'Australia',
 'Singapore',
 'Canada']

In [84]:
nodes = []
country_ids = dict(zip(unique_countries, [i for i in range(len(unique_countries))]))
id_countries = dict(zip([i for i in range(len(unique_countries))], unique_countries))
for c in unique_countries:
    nodes.append({"character": c, "id": country_ids[c], "influence": 1})
nodes[:5]

[{'character': 'India', 'id': 0, 'influence': 1},
 {'character': 'United States', 'id': 1, 'influence': 1},
 {'character': 'Netherlands', 'id': 2, 'influence': 1},
 {'character': 'Germany', 'id': 3, 'influence': 1},
 {'character': 'Scotland', 'id': 4, 'influence': 1}]

In [99]:
links = []
for i in range(5): #len(unique_countries)):
    for j in range(i + 1, len(unique_countries)):
        country1 = unique_countries[i]
        country2 = unique_countries[j]
        score = 10 * calculate_avail_score(country1, country2)
        if (type(score) == int or type(score) == float) and (not np.isnan(score)):
            links.append({
                "source": country_ids[country1],
                "target": country_ids[country2],
                "weight": score
            })
links[:5]

/Users/lilybhattacharjee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/lilybhattacharjee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

[{'source': 0, 'target': 1, 'weight': 9.86111111111111},
 {'source': 0, 'target': 2, 'weight': 4.166666666666667},
 {'source': 0, 'target': 3, 'weight': 3.333333333333333},
 {'source': 0, 'target': 4, 'weight': 3.611111111111111},
 {'source': 0, 'target': 5, 'weight': 10.0}]

In [102]:
with open("../graph_data_01-28-2020.json", "w") as file:
    graph_dict = {"nodes": nodes, "links": links}
    result = json.dumps(graph_dict)
    file.write(result)