In [1]:
import pandas as pd
import bs4
from bs4 import BeautifulSoup
import requests
import string

In [98]:
# Set headers
headers = requests.utils.default_headers()
headers.update({ 'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0'})

## China

In [3]:
url = "https://cyber.harvard.edu/filtering/china/China-A.html"
req = requests.get(url, headers)
china_a = BeautifulSoup(req.content, 'html.parser')

In [4]:
china_a.prettify()[:100]

'<html>\n <head>\n  <title>\n   Sites Blocked in China\n  </title>\n  <meta content="text-html; charset=ut'

In [5]:
len(china_a.find_all('hr'))

855

In [6]:
china_a.findAll('a')[7]

In [7]:
china_a.find_all('hr')[2]

In [8]:
list(string.ascii_uppercase)

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [9]:
all_urls = []
all_blocking_quots = []
for i in list(string.ascii_uppercase) + ['09']:
    url = "https://cyber.harvard.edu/filtering/china/China-" + i + ".html"
    req = requests.get(url, headers)
    curr_china = BeautifulSoup(req.content, 'html.parser')
    all_urls += curr_china.findAll(lambda tag: tag.name == "a" and 
                               len(tag.attrs) == 1 and 
                               'href' in tag.attrs)
    all_blocking_quots += curr_china.findAll(lambda tag: tag.name == "img" and 
                                        len(tag.attrs) == 2 and
                                        "src" in tag.attrs and 
                                        "alt" in tag.attrs)

urls =  []
blocking_quots = []

for i in range(len(all_urls)):
    url = all_urls[i]
    if isinstance(url, bs4.element.Tag):
        internal_text = url.get_text()
        if "." in internal_text: urls.append(internal_text)
    url = url.next_sibling
    
for i in range(len(all_blocking_quots)):
    blocking_quots.append(all_blocking_quots[i]['alt'])

print(len(urls))
print(len(blocking_quots))

15911
15913

In [10]:
urls[-5:], blocking_quots[-5:]

(['www.999adult.com',
  '99chat.cjb.net',
  'www.99ew.com',
  'www.9u9u.com',
  'www.9year.org.tw'],
 ['Inaccessible in every test',
  'Inaccessible significantly more often than not',
  'Inaccessible significantly more often than not',
  'Sometimes inaccessible',
  'Inaccessible more often than not'])

In [12]:
blocked_china = pd.DataFrame(urls, 
               columns =['URL'])
blocked_china.head()

                  URL
0         www.a00.com
1    a0006.in2000.com
2  a1.sparklancer.com
3     a1234.uhome.net
4   a1234bc.uhome.net

In [13]:
blocked_china.shape

(15911, 1)

In [14]:
blocked_china.to_csv("blocked_urls_china.csv")

## Saudi Arabia

In [17]:
all_urls = []
all_blocking_quots = []
for i in list(string.ascii_uppercase) + ['09']:
    url = "https://cyber.harvard.edu/filtering/saudiarabia/SA-" + i + ".html"
    req = requests.get(url, headers)
    curr_sa = BeautifulSoup(req.content, 'html.parser')
    all_urls += curr_sa.findAll(lambda tag: tag.name == "a" and 
                               len(tag.attrs) == 1 and 
                               'href' in tag.attrs)
    all_blocking_quots += curr_sa.findAll(lambda tag: tag.name == "img" and 
                                        len(tag.attrs) == 2 and
                                        "src" in tag.attrs and 
                                        "alt" in tag.attrs)

urls =  []
blocking_quots = []

for i in range(len(all_urls)):
    url = all_urls[i]
    if isinstance(url, bs4.element.Tag):
        internal_text = url.get_text()
        if "." in internal_text: urls.append(internal_text)
    url = url.next_sibling
    
for i in range(len(all_blocking_quots)):
    blocking_quots.append(all_blocking_quots[i]['alt'])

print(len(urls))
print(len(blocking_quots))

Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

1380
0

In [18]:
blocked_sa = pd.DataFrame(urls, 
               columns =['URL'])
blocked_sa.head()

                                        URL
0                  www.absoluteswimwear.com
1                            www.adaweb.com
2                    www.adultnewsstand.com
3                  www.adventureangling.com
4  www.adventureangling.com/chd/webring.htm

In [19]:
blocked_sa.to_csv("blocked_urls_sa.csv")

## Iraq

In [22]:
blocked_iq_url_str = """
http://www.iraqinews.com/tag/fallujah/

http://www.herakiq.com/

http://www.almadar.co.il/newss.aspx?cid=69&

http://www.nakhelnews.com/

http://altaghier.tv/

http://www.ahraraliraq.com/

http://www.raneem.net/

http://www.muslm.org/

http://www.alzawra.com/

http://revofallujah.org/

http://albaghdadia.com/

http://www.albaghdadianews.com/

http://haqana.com/

http://www.alarabiya.net/

http://aljazeera.net/

http://www.alrafidain.tv/

http://iraqislami.own0.com/

http://www.muftialiraq.info/

http://www.dhiqar.net/

http://www.alomah-alwasat.com/

http://www.harithaldhari.com/
"""

blocked_iq_urls = [i for i in blocked_iq_url_str.split("\n") if i != '']
print(len(blocked_iq_urls))

21

In [23]:
blocked_iq = pd.DataFrame(blocked_iq_urls, 
               columns =['URL'])
blocked_iq.head()

                                           URL
0       http://www.iraqinews.com/tag/fallujah/
1                      http://www.herakiq.com/
2  http://www.almadar.co.il/newss.aspx?cid=69&
3                   http://www.nakhelnews.com/
4                         http://altaghier.tv/

In [24]:
blocked_iq.to_csv("blocked_urls_iq.csv")

## India

In [82]:
blocked_in_urls = """
Vimeo.com (Screenshot)
DailyMotion.com (Screenshot)
Xmarks.com (Screenshot)
Pastebin.com (Screenshot)
Isohunt.com (Screenshot)
thepiratebay.org/thepiratebay.se (Screenshot)
torrentz.eu (Screenshot)
kat.ph (Screenshot)
torlock.com (Screenshot)
kickasstorrents.com (Screenshot)
torrentfunk.com (Screenshot)
fenopy.eu (Screenshot)
DailyMotion (Screenshot)
torrentz.eu (Screenshot)
Isohunt.com
thepiratebay.org/thepiratebay.se
torrentz.eu
kat.ph
torlock.com
kickasstorrents.com
torrentfunk.com
fenopy.eu
Vimeo.com
Vimeo.com
ThePirateBay
ThePirateBay
Vimeo.com
DailyMotion.com
Torrents.eu
Extratorrent.com
Kickasstorrents.com
ThePirateBay.org/ThePirateBay.se
Torrents.net
Isohunt.com
Torrentroom.com
Torrents.eu
ThePirateBay.org/ThePirateBay.se
Vimeo.com
DailyMotion.com
"""

blocked_in_urls = list(set([i for i in blocked_in_urls.split() if i != "(Screenshot)"]))
blocked_in_urls

['torrentfunk.com',
 'Torrents.eu',
 'Torrentroom.com',
 'Pastebin.com',
 'Xmarks.com',
 'DailyMotion.com',
 'thepiratebay.org/thepiratebay.se',
 'Vimeo.com',
 'kickasstorrents.com',
 'ThePirateBay',
 'kat.ph',
 'torlock.com',
 'DailyMotion',
 'Torrents.net',
 'ThePirateBay.org/ThePirateBay.se',
 'Isohunt.com',
 'Extratorrent.com',
 'fenopy.eu',
 'Kickasstorrents.com',
 'torrentz.eu']

In [83]:
blocked_in = pd.DataFrame(blocked_in_urls, 
               columns =['URL'])
blocked_in.head()

               URL
0  torrentfunk.com
1      Torrents.eu
2  Torrentroom.com
3     Pastebin.com
4       Xmarks.com

In [84]:
blocked_in.to_csv("blocked_urls_in.csv")

## Russia

In [108]:
from selenium import webdriver

In [114]:
browser = webdriver.Firefox()

base_url = "https://web.archive.org/web/20140710063312/http://www.antizapret.info/"
addition = "?p="
end = 48
all_urls = []
for i in range(end):
    try:
        url = base_url
        if i > 0:
            url = base_url + addition + str(i)
        print(url)
        browser.get(url)
        html = browser.page_source
        curr_rus = BeautifulSoup(html, 'lxml')
        all_urls += curr_rus.findAll(lambda tag: tag.name == "a" and
                                   'alt' in tag.attrs and
                                   'href' in tag.attrs)
        print(len(all_urls))
    except:
        continue
        
browser.quit()
    
all_urls = [i.get_text() for i in all_urls]
print(all_urls[:70])

https://web.archive.org/web/20140710063312/http://www.antizapret.info/
100
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=1
200
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=2
300
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=3
400
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=4
500
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=5
600
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=6
700
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=7
800
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=8
900
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=9
1000
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=10
1100
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=11
1200
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=12
1300
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=13
1400
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=14
1500
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=15
1600
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=16
1700
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=17
1800
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=18
1900
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=19
2000
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=20
2100
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=21
2200
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=22
2300
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=23
2400
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=24
2500
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=25
2600
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=26
2700
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=27
2800
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=28
2900
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=29
3000
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=30
3100
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=31
3300
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=32
3500
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=33
3700
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=34
3800
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=35
3900
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=36
4000
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=37
4100
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=38
4200
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=39
4300
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=40
4400
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=41
4500
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=42
4600
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=43
4700
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=44
4800
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=45
4884
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=46
4984
https://web.archive.org/web/20140710063312/http://www.antizapret.info/?p=47
5184
['lj.rossia.org/users/oranta/157031.html', 'jblover.co/jailbait-videos-stickam-captures-jailba', 'www.justjailbait.us/vladmodels/vladmodels-zhenya-s', 'www.justjailbait.us/showstars/showstars-oxi-set-5/', 'goldenmed.net/', 'www.justjailbait.us/page/28/', 'rapidzona.com/books-journal-foto-torrent/books-tor', 'blackrc.biz/index.php?/topic/496-omsk-smeshnoe-kur', 'blackrc.biz/index.php?/topic/278-irkutskluchshij-s', 'dzen-au7.com/', 'blackrc.biz/index.php?/topic/496-omsk-smeshnoe-kur', 'chem-lega.biz/kuritelnyj-miks-katalog/', 'seansmaga.com/kupit/909-spays-tyumen.html', 'seansmaga.com/365-spice-naberejnyie-chelnyi.html', 'narkomafia.org/90-kupit-jwh-tomsk.html', 'lemonvit.com/317-jwh-saransk.html', 'dzen-au7.com/w/499-kupit-kuritelnyie-smesi-tyumen.', 'winn-palace.com', 'www.Jackpot-klub.org', 'www.goldfishka2.com', 'dzen-au7.com/w/542-kupit-spays-belgorod.html', 'narkomafia.org/43-spays-izhevsk.html', 'www.eldoradoclub.com', 'www.gmslotsonline.com', 'casinokorona.com', 'www.twist-casino.com', 'www.slotx.net', 'dzen-au7.com/w/665-kuritelnyie-miksyi-ijevsk.html', 'lemonvit.com/500-kupit-spice-nijniy-tagil.html', 'lemonvit.com/304-jwh-nijniy-tagil.html', 'seansmaga.com/659-kuritelnyie-smesi-saransk.html', 'narkomafia.org/legalnark.html', 'lemonvit.com/823-kupit-kuritelnyie-smesi-kemerovo.', 'chem-lega.biz/prajs/', 'blackrc.biz/', 'blackrc.biz/index.php?/topic/565-alcali-crystals-o', 'blackrc.biz/index.php?/topic/339-novosibirskaia-ob', 'blackrc.biz/index.php?/topic/251-letopis-ot-solomo', 'blackrc.biz/index.php?/topic/521-reporty-ot-rasta7', 'lemonvit.com/1289-sol-dlya-vann-voronej.html', 'narkomafia.org/legal-miks.html', 'narkomafia.org/icq-679520557.html', 'lemonvit.com/460-kupit-jwh-habarovsk.html', 'lemonvit.com/1013-legalnyie-poroshki-ulyanovsk.htm', 'lemonvit.com/516-kupit-spays-penza.html', 'narkomafia.org/973-kupit-spays-v-penze.html', 'narkomafia.org/index.php?do=feedback', 'narkomafia.org/index.php?do=register', 'seansmaga.com/kupit/661-kupit-spice-penza.html', 'narkomafia.org/1093-miksyi-kuritelnyie-v-ufe.html', 'narkomafia.org/35-kuritelnye-miksy-ekaterinburg.ht', 'chem-lega.biz/', 'chem-lega.biz/zakladki-v-gorodax/', 'chem-lega.biz/kontakty/', 'chem-lega.biz/poroshki/', 'gryzoperovoz.com/index.php?newsid=31', 'www.casino360.ru', 'ipvnews.org/', 'kavkazcenter.com', 'kavkazcenter.info', 'kavkazcenter.net', 'kavkaz.org.uk', 'kavkaznews.com', 'kavkaz.tv', 'www.kavkazcenter.com', 'legalrc.biz', 'legalrc.biz/threads/irkutsk-rovnyj-dym-ljutyj-maga', 'legalrc.biz/threads/kak-prigotovit-gashish-svoimi-', 'wayaway.biz/threads/irkutsk-skorost-rossyp-optimal', 'pornopepper.com/videos/245/molodye-malchiki-gei-za']

In [115]:
blocked_rus = pd.DataFrame(all_urls, 
               columns =['URL'])
blocked_rus.head()

                                                 URL
0             lj.rossia.org/users/oranta/157031.html
1  jblover.co/jailbait-videos-stickam-captures-ja...
2  www.justjailbait.us/vladmodels/vladmodels-zhen...
3  www.justjailbait.us/showstars/showstars-oxi-se...
4                                     goldenmed.net/

In [116]:
blocked_rus.to_csv("blocked_urls_rus.csv")

## North Korea

In [95]:
avail_nk_urls = """airkoryo.com.kp
cooks.org.kp
friend.com.kp
gnu.rep.kp
kass.org.kp
kcna.kp
kiyctc.com.kp
knic.com.kp.
koredufund.org.kp
korelcfund.org.kp
korfilm.com.kp
ma.gov.kp
masikryong.com.kp
naenara.com.kp
nta.gov.kp
portal.net.kp
rcc.net.kp
rep.kp
rodong.rep.kp
ryongnamsan.edu.kp
sdprk.org.kp
silibank.net.kp
star-co.net.kp
star-di.net.kp
star.co.kp
star.edu.kp
star.net.kp
vok.rep.kp
"""

avail_nk_urls = avail_nk_urls.splitlines()
len(avail_nk_urls)

28

In [96]:
avail_nk = pd.DataFrame(avail_nk_urls, 
               columns =['URL'])
avail_nk.head()

               URL
0  airkoryo.com.kp
1     cooks.org.kp
2    friend.com.kp
3       gnu.rep.kp
4      kass.org.kp

In [97]:
avail_nk.to_csv("avail_urls_nk.csv")

## Pakistan

In [70]:
blocked_pak_urls = pd.read_csv("blocked_pak.txt", sep = '\n', header = None)
blocked_pak_urls.head()

                                                   0
0  http://www.facebook.com/pages/Everybody-Draw-M...
1  http://www.facebook.com/pages/Everybody-Draw-M...
2                     http://www.drawmuhammadday.com
3                           https://www.facebook.com
4         http://www.youtube.com/watch?v=z7ok4njJXI8

In [73]:
blocked_pak_urls.shape

(598, 1)

In [74]:
blocked_pak_urls.rename(columns = {0: "URL"}, inplace = True)
blocked_pak_urls.head()

                                                 URL
0  http://www.facebook.com/pages/Everybody-Draw-M...
1  http://www.facebook.com/pages/Everybody-Draw-M...
2                     http://www.drawmuhammadday.com
3                           https://www.facebook.com
4         http://www.youtube.com/watch?v=z7ok4njJXI8

In [76]:
blocked_pak_urls.to_csv("blocked_urls_pak.csv")

## UAE

In [57]:
blocked_uae_urls = pd.read_csv("blocked_uae.txt", sep = '\t', header = None)
blocked_uae_urls.head()

                                                   0
0                2    http://fditny.hi5.com/
1  3    http://hi5.com/friend/p356889975-friend-h...
2  4    http://hi5/friend/p336746863-FoSHEYaH_%20...
3                    5    http://tokiva.com/
4                   7    http://1.cool0.biz/

In [58]:
blocked_uae_urls.rename(columns = {0: "URL"}, inplace = True)
blocked_uae_urls.head()

                                                 URL
0                2    http://fditny.hi5.com/
1  3    http://hi5.com/friend/p356889975-friend-h...
2  4    http://hi5/friend/p336746863-FoSHEYaH_%20...
3                    5    http://tokiva.com/
4                   7    http://1.cool0.biz/

In [59]:
blocked_uae_urls.shape

(24537, 1)

In [67]:
with open("blocked_uae.txt") as f:
    lines = f.readlines()
    blocked_uae_urls = [i.split()[1] for i in lines if len(i.split()) > 1] + [i.split()[0] for i in lines if len(i.split()) == 1]
    print(blocked_uae_urls[:10])
    print(len(blocked_uae_urls))

['http://fditny.hi5.com/', 'http://hi5.com/friend/p356889975-friend-html', 'http://hi5/friend/p336746863-FoSHEYaH_%20%20%20%20-html', 'http://tokiva.com/', 'http://1.cool0.biz/', 'http://1.hao929.cn/', 'http://1.verynx.cn/', 'http://1111.ma/', 'http://117275.cn/', 'http://11910.net/']
24537

In [68]:
blocked_uae = pd.DataFrame(blocked_uae_urls, 
               columns =['URL'])
blocked_uae.head()

                                                 URL
0                             http://fditny.hi5.com/
1       http://hi5.com/friend/p356889975-friend-html
2  http://hi5/friend/p336746863-FoSHEYaH_%20%20%2...
3                                 http://tokiva.com/
4                                http://1.cool0.biz/

In [69]:
blocked_uae.to_csv("blocked_urls_uae.csv")